<!-- templates/map.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VRF {{ vrf.name or 'Global' }}, prefix {{ prefix }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        const BASE_PATH = "{{ base_path }}";
    </script>
    <script src="{{ url_for('static', filename='js/prefix_tree.js') }}" defer></script>
</head>

<body>
    <div class="navbar">
        <div class="breadcrumbs">
            {% for crumb in generate_breadcrumbs(vrf=vrf, prefix=prefix) %}
                {% if crumb.url %}
                    <a href="{{ crumb.url }}">{{ crumb.name }}</a>
                    {% if not loop.last %}
                        <span class="separator">&gt;</span>
                    {% endif %}
                {% else %}
                    <span>{{ crumb.name }}</span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="sidebar">
            <b>VRF {% if vrf %}<a href="{{ netbox_url }}/ipam/vrfs/{{ vrf.id }}/">{{ vrf.name }}</a>{% else %}Global{% endif %}</b>
            <div id="prefix-tree">Loading...</div>
        </div>
        <div class="content">
            <div id="map-container">
                <img id="map-image" src="{{ base_path }}/images/{{ image_filename }}" alt="Prefix Map">
            </div>
            <div id="prefix-details">
                <table>
                    <tr>
                        <th>Prefix</th>
                        <td><a href="{{ netbox_url }}/ipam/prefixes/{{ prefix_id }}/">{{ prefix }}</a></td>
                    </tr>
                    <tr>
                        <th>VRF</th>
                        {% if vrf %}
                        <td><a href="{{ netbox_url }}/ipam/vrfs/{{ vrf.id }}/">{{ vrf.name }}</a> {{ vrf.description }}</td>
                        {% else %}
                        <td>Global</td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>