<!-- templates/vrf.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VRF {{ vrf.name or 'Global' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        const BASE_PATH = "{{ base_path }}";
    </script>
    <script src="{{ url_for('static', filename='js/prefix_tree.js') }}" defer></script>
</head>

<body>
    <div class="navbar">
        <div class="breadcrumbs">
            {% for crumb in generate_breadcrumbs(vrf=vrf, prefix=prefix) %}
                {% if crumb.url %}
                    <a href="{{ crumb.url }}">{{ crumb.name }}</a>
                    {% if not loop.last %}
                        <span class="separator">&gt;</span>
                    {% endif %}
                {% else %}
                    <span>{{ crumb.name }}</span>
                {% endif %}
            {% endfor %}
        </div>        
    </div>
    <div class="container">
        <div class="sidebar">
            <b>VRF {% if vrf %}<a href="{{ netbox_url }}/ipam/vrfs/{{ vrf.id }}/">{{ vrf.name }}</a>{% else %}Global{% endif %}</b>
            <div id="prefix-tree">Loading...</div>
            <ul>
                {% for prefix in prefixes %}
                <li><a href="{{ base_path }}/map/{{ vrf.id or 'None' }}/{{ prefix.sanitized }}">{{ prefix.display }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="content">
            <h1>VRF: {{ vrf.name or 'Global' }}</h1>
            <p>{{ vrf.description }}</p>
            <p><a href="{{ netbox_url }}/ipam/vrfs/{{ vrf.id }}/">View in NetBox</a></p>
        </div>
    </div>
</body>

</html>